/tmp
/node_modules
/public/hot
/public/phpinfo.php
/public/astrawiki
/public/quiz_fonia
/public/storage
/storage/*.key
/storage/tmp
/vendor
/.vscode
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.valetphprc
